params {
       adapter    = "AGATCGGAAGAGC" 
       
       cutadapt="/home/vaishnavi/miniconda3/envs/bnf/bin/cutadapt"
       fastqc="/home/vaishnavi/miniconda3/envs/bnf/bin/fastqc"
       bwa="/home/vaishnavi/miniconda3/envs/bnf/bin/bwa"
       samtools="/home/vaishnavi/miniconda3/envs/bnf/bin/samtools"
       bcftools="/home/vaishnavi/miniconda3/envs/bnf/bin/bcftools"
       tabix = "/home/vaishnavi/miniconda3/envs/bnf/bin/tabix"

       reads     = "$baseDir/data/*.fastq.gz"
       outdir    = "$baseDir/results"
       reference = "$baseDir/reference/ref.fa"
}


