params {
       
       cutadapt="/home/vaishnavi/miniconda3/envs/bnf/bin/cutadapt"
       fastqc="/home/vaishnavi/miniconda3/envs/bnf/bin/fastqc"
       bwa="/home/vaishnavi/miniconda3/envs/bnf/bin/bwa"
       samtools="/home/vaishnavi/miniconda3/envs/bnf/bin/samtools"
       bcftools="/home/vaishnavi/miniconda3/envs/bnf/bin/bcftools"

    reference = "$baseDir/reference/ref.fa"
}


